

body{
    color: rgb(255, 255, 255);
}
.logo-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
}
.side-logo {
    width: 10rem;
}

.qs-container{
    width: 100vw;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}
/*choices*/
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #FFDE59;
    font-size: 3rem;
    min-width: 80rem;
    
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    transition: transform 100ms;
    transform: scale(1.02);
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color: rgb(0, 0, 0);
}
.choice-text{
    padding: 2rem;
    width: 100%;
}
.correct{
    background: linear-gradient(90deg, hsla(131, 99%, 38%, 1) 0%, hsla(105, 95%, 58%, 1) 100%);
}
.incorrect{
    background: linear-gradient(90deg, hsla(0, 99%, 47%, 1) 0%, hsla(0, 98%, 67%, 1) 100%);
}

/*hud display*/
#hud{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;  
}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}
#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #EF2E68;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull{
    height: 100%;
    background: #EF2E68;
    width: 0%;
}

/*actions display*/
.game-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 5px ;
    height: 200px;
    width: 800px;
    border: 2px solid white;
}
.lvl1{
    background: url(Pictures/middleground-export.png);
    background-size: cover;
    background-position: bottom;
}
.lvl2{
    background: url(Pictures/new-lava-background-preview-.png);
    background-size: cover;
    background-position: center;
}
.lvl3{
    background: url(Pictures/old-dark-castle-interior-withtilesbackground1.png);
    background-size: cover;
    background-position: center;
}
.character{
    margin-top: 65px;
    margin-left: 50px;
    width: 60px;
    height: 70px;
    background-size: cover;
    background-image: url(/Pictures/Final_Neko_Idle-export.gif);
}
.enemy1{
    margin-top: 20px;
    margin-right: 50px;
    width: 64px;
    height: 116px;
    background-size: cover;
    background-image: url(/Pictures/Dummy-100size.png);
}
.enemy2{
    margin-top: 20px;
    margin-right: 50px;
    width: 116px;
    height: 116px;
    background-size: cover;
    background-image: url(/Pictures/Fire_worm_Idle-1.gif);
}
.enemy3{
    margin-top: 5px;
    margin-right: 50px;
    width: 130px;
    height: 120px;
    background-size: cover;
    background-image: url(Pictures/demon-idle-export.gif);
}
.enemyhp-bar {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 8px;
    background-color: red;
    position: relative;
    bottom: 30px;
    left: 0;
  }
.charhp-bar {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 8px;
    background-color: rgb(0, 244, 69);
    position: relative;
    bottom: 30px;
    left: 0;
  }  
.p2{
    width: 60px;
    height: 50px;
    background: url(Pictures/fire_ball.gif);
    background-size: cover;
    position: absolute;
    display: none;
  }
.p3{
    width: 60px;
    height: 50px;
    background: url(Pictures/bolt_nobg.gif);
    background-size: cover;
    position: absolute;
    display: none;
  }
.char-projectile {
    width: 60px;
    height: 50px;
    background: url(Pictures/water_attack_2.gif);
    background-size: cover;
    position: absolute;
    display: none;
  } 

@media screen and (max-width: 760px) {
    .choice-container{
        min-width: 40rem;
    }
}